<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>U Download</title>
</head>
<body>
    <nav class="nav">
    <h2>U download<h/2>
    </nav>

    <div class="container">
        <input id="input" placeholder="Enter the  video ID"/>
        <button onclick="GetInput()">+</button>
        <img id="image" src="" alt="">
<a id="download" href="test.jpg" download>download</a>  
        </div>
<script src="App.js"></script>
</body>
</html>